version: 2
jobs:
  build:
    machine: true
    steps:
      - add_ssh_keys:
          fingerprints:
            - "04:af:80:cb:a5:f9:cc:9e:45:62:2b:2d:40:cd:f0:47"
      - checkout
      - run: pwd
      - run: ls -la      
      - run:
           name: Deploy Over SSH
           command: |
             ssh -vvv ec2-user@18.218.164.148 "hostname"
