version: 2
jobs:
  build:
    machine: true
    steps:
      - add_ssh_keys:
          fingerprints:
            - "a1:9c:c7:61:a6:de:53:b3:3b:d8:cb:a3:1e:93:7f:b1"
      - checkout
      - run: pwd
      - run: ls -la      
      - run: cd /home/circleci/.ssh/     
      - run: ls -la
      - run:
           name: Deploy Over SSH
           command: |
             ssh -vvv ec2-user@18.224.52.247 "hostname"
