version: 2
jobs:
  build:
    machine: true
    steps:
      - add_ssh_keys:
          fingerprints:
            - "a1:9c:c7:61:a6:de:53:b3:3b:d8:cb:a3:1e:93:7f:b1"
      - checkout
      - run: pwd
      - run: ls -la      
      - run: cd /home/circleci/.ssh/ && ls -la && cat authorized_keys
      - run: ls -la
      - run:
           name: Deploy Over SSH
           command: |
             #ssh -vvv ec2-user@18.224.52.247 "hostname"
             ssh-keyscan -H 18.224.52.247 >> /home/circleci/.ssh/known_hosts
             cat ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICrMSd0Eh+FLKRfPYUJg7wj1XlHwJpp3BO6WDILVqYVe rishikhurana.sufi@gmail.com > /home/circleci/.ssh/authorized_keys
             cat authorized_keys
             ssh -i /home/circleci/.ssh/id_rsa_a19cc761a6de53b33bd8cba31e937fb1 ec2-user@18.224.52.247 && hostname
